@section head{
    <title>@Resources.About.PageTitle</title>
}

@section Scripts{
    <!-- animated scroll loading effect -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.post').addClass("not-visible").viewportChecker({
                classToAdd: 'visible animated fadeInUp',
                offset: 100
            });
        });
    </script>
}

<section id="History" class="bg-light-gray">
    <div class="container">
        <div class="row post">
            <div class="col-xs-12">
                <h2 class="section-heading"><i class="fa fa-calendar"></i> @Resources.About.HistoryHead</h2>
                <img class="article-img-1 pull-left" src="~/Images/article/kimiarazi-1.jpg" />
                <p class="text-justify col-lg-offset-1">
                    @Resources.About.HistoryText
                </p>
            </div>
        </div>
    </div>
</section>
<section id="history-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 timeline-div">
                <ul class="timeline">
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1360.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1360Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1360text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1378.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1378Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1378Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1381.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1381Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1381Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1382.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1382Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1382Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1380.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1383Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1383Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1384.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1384Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1384Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1392.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1392Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1392Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 post">
                        <div class="timeline-img pull-right">
                            <img class="img-circle img-responsive" src="~/Images/About/1394.jpg" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 pull-right">
                            <div class="timeline-heading">
                                <h4>@Resources.About.H1394Head</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@Resources.About.H1394Text</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
